<%- include("../components/header.ejs") %>
<link rel="stylesheet" href="/styles/user.css">

<section class="header-home glass">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col">
                <h1 class="title-font">Welcome <br><%- user.global.name -%>!</h1>
                <h5 class="subtitle-font">Admin Panel</h5>
        </div>
        <div class="col">
                <img src="/images/mehdi.png" class="admin-img">
        </div>
      </div>
</section>
<section class="section-template">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="subtitle-font" style="font-weight: bold;">Quick Actions</h1>
                <a href="/admin/review">Hackathon Review</a>
                <a href="/admin/users">User Info</a>
            </div>
            <div class="col-3 verticalLine">
                <h1 class="subtitle-font" style="font-weight: bold;">Information</h1>
                <hr>
                <h5><strong>Username:</strong> <%- user.global.username -%></h5>
                <h5><strong>Role:</strong> Website Admin</h5>
                
            </div>
        </div>
    </div>
</section>


<%- include("../components/footer.ejs") %>
