<%- include("../components/header.ejs") %>
<div class="container" style="margin: 5%;">
    <h1>404 Not Found</h1>
    <p>We looked high and low, but we couldn't locate the page you're looking for :(</p>
    <p> Here is a Goat Gif instead.</p>
    <iframe src="https://giphy.com/embed/XdACBmg3lx6RG" width="480" height="384" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/ice-goat-XdACBmg3lx6RG">via GIPHY</a></p>
</div>

<%- include("../components/footer.ejs") %>
