<%- include("../components/header.ejs") %>
<section class="header-home glass">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <div id="">
                <h1 class="title-font">About Us</h1>

              </div>
              <h5>What we do, and how we do it.</h5>
          </div>
        </div>
      </div>
</section>





<section class="about-nchack">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>NC Hack</h1>
                <p>NC Hack is a platform for hackathons, to share the joy of coding with ambitious young students, without having to pay the enourmous prices of advertising and maintaining a website</p>
            </div>
            <div class="col-6">
                <img src="/images/Picture of Pictures.png" style="float: right;">
            </div>
        </div>
    </div>
</section>

<section class="about-nchack">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>NC Hack</h1>
                <p>NC Hack is a platform for hackathons, to share the joy of coding with ambitious young students, without having to pay the enourmous prices of advertising and maintaining a website</p>
            </div>
            <div class="col-6">
                <img src="/images/Picture of Pictures.png" style="float: right;">
            </div>
        </div>
    </div>
</section>
<%- include("../components/footer.ejs") %>