<%- include("../components/header.ejs") %>
<section class="header-home glass">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
                <h1 class="title-font">Contact</h1>
              <h5 class="subtitle-font">Our Goats are waiting...</h5>
          </div>
        </div>
      </div>
</section>

<section class="about-nchack">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>NC Hack</h1>
                <p>NC Hack is a platform for hackathons, to share the joy of coding with ambitious young students, without having to pay the enourmous prices of advertising and maintaining a website</p>
            </div>
            <div class="col-6">
                <img src="/images/Picture of Pictures.png" style="float: right;">
            </div>
        </div>
    </div>
</section>
<div class="events-index">
    <section class="meet-team container">
        <h1>Contact the Team!</h1>
    <div class="row">
        <div class="col">
            <img src="/images/mehdi.png" class="team-img rounded-circle">
            <h2>Mehdi Hussain</h2>
            <p>A Very Nice Description of What I do here.</p>
    
        </div>
        <div class="col">
            <img src="/images/lucas.png" class="team-img rounded-circle">
                <h2>Lucas Moore</h2>
                <p>A Very Nice Description of What I do here.</p>
        </div>
    </div>
    </section>
</div>



<%- include("../components/footer.ejs") %>