<%- include("../components/header.ejs") %>
<h1>Terms and Conditions</h1>
<p>The terms and conditions will be completed later as this site is still in an early development stage. For now, the terms governing the service are at the discretion of service administrators. We reserve the right to remove your account and portions of the site associated with said account for any reason at any time. Questions can be directed to team@nchack.org</p>
<%- include("../components/footer.ejs") %>
