<%- include("./components/subHeader.ejs") %>
<link rel="stylesheet" href="/styles/hackathons.css">
    <section class="about-nchack container" style="margin-bottom: 1%;">
        <h1 class="title-text">Hi there </h1>
    </section>


<%- include("./components/subFooter.ejs") %>